doctype html
html
  head
    title= title
  body
    #app
    script(src='/javascripts/build.js')
    link(href='https://unpkg.com/vuetify/dist/vuetify.min.css'  rel="stylesheet" type="text/css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css")
